.cards-wrap-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.cards-wrap-computer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.cards-wrap p {
    font-size: 40px;
}
.card-deck {
    margin-top: 50px;
}
.card-deck img {
    width: 125px;
    height: 175px;
}

.computer-stats-wrap {
    margin-top: 30px;
}

.computer-stats-wrap p {
    font-size: 20px;

}

.user-stats-wrap {
    margin-top: 30px;
}

.user-stats-wrap p {
    font-size: 20px;

}